<!-- core/templates/core/accueil.html -->

{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    
    <div class="description-home">
        <h2>Bienvenue sur <em class="highlight wave">Le Dojo du chill</em> !</h2>
        <p>
            La plateforme de réservation officielle du légendaire <strong class="highlight">Sensei du chill</strong> — maître incontesté de la <span class="highlight">zen-attitude</span> et champion du <span class="highlight">cool absolu</span>.<br>
            Ici, fini le <span class="highlight">stress</span>, les prises de tête, et les journées <span class="highlight">speed</span> : on respire, on décompresse, on chill comme jamais.<br>
            Tu veux apprendre à surfer sur la vague de la <span class="highlight">détente</span>, à dompter le dragon du <span class="highlight">stress</span> ou à devenir un <span class="highlight">ninja du bien-être</span> ? C’est par ici que ça se passe !
        </p>
        <p>
            Avec <em class="highlight">Le Dojo du Chill</em>, prendre rendez-vous avec ton coach de vie préféré, c’est aussi simple que de dire <span class="highlight">“Namasté”</span> (ou <span class="highlight">“T’as 5 minutes ?”</span>) : tu choisis ta date, ton créneau, et hop, tu te prépares à <span class="highlight">chiller</span> en mode expert.
        </p>
        <p>
            Alors, prêt·e à devenir un <span class="highlight">as du lâcher-prise</span> ? Le <strong class="highlight">Sensei du chill</strong> t’attend pour transformer ta vie… sans prise de tête, mais avec beaucoup de <span class="highlight">fun</span> !
        </p>
        <p><em class="highlight">Le Dojo du Chill</em> — parce que la vie est trop courte pour ne pas se <span class="highlight">détendre</span>.</p>
    </div>

{% endblock %}