{% extends "base.html" %}
{% block title %}Espace Coach{% endblock %}

{% block content %}
<div class="container">
  <h1>Bienvenue <span class="highlight">{{ user.username }}</span>, le super Coach !</h1>

  <h2>Vos séances à venir</h2>

  {% if seances %}
    <div class="seance-cards">
      {% for seance in seances %}
        <div class="seance-card">
          <div class="seance-details">
            <p><strong>Date :</strong> {{ seance.date }}</p>
            <p><strong>Heure :</strong> {{ seance.heure_debut }} - {{ seance.heure_fin }}</p>
            <p><strong>Client :</strong> {{ seance.client.username }}</p>
            <p><strong>Objet :</strong> {{ seance.objet }}</p>
          </div>
          <form method="post" action="{% url 'online_rdv:annuler_seance' seance.id %}">
            {% csrf_token %}
            <button type="submit" class="btn-danger">Annuler</button>
          </form>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="message">Aucune séance planifiée pour le moment.</p>
  {% endif %}

{% endblock %}