{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Coach{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>




<body>
    <header class="banner">
        <div class="container">
            <div class="banner-content">
                <img src="{% static 'images/sun.png' %}" alt="logo soleil" class="logo">
                <div>
                    <h1>Mon Coach en ligne</h1>
                    <nav>
                        <a href="{% url 'accueil' %}">Accueil</a> |
                        <a href="/rdv/">Rendez-vous</a> |
                        {% if user.is_authenticated %}
                            <a href="#" class="nav-link-button" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Déconnexion</a>  |
                            <form id="logout-form" method="post" action="{% url 'accounts:logout' %}" style="display: none;">
                                {% csrf_token %}
                            </form>
                            <span class="nav-user">Connecté sous <span class="username">{{ user.username }}</span></span>
                        {% else %}
                            <a href="{% url 'accounts:login' %}">Connexion</a> |
                            <a href="{% url 'accounts:register' %}">Inscription</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
        <div class="container">
            <p>© 2025 - Jean "Bibi" Biceps</p>
        </div>
    </footer>
</body>
</html>